<tool id="shuffle_sequences" name="Shuffle nucleotides in fasta" version="0.1.0">
    <requirements>
        <requirement type="package" version="1.2.2">ushuffle</requirement>
    </requirements>
    <command detect_errors="exit_code" interpreter="sh"><![CDATA[
        shuffle_sequences.sh "$input1" "$input2" "$output1"
    ]]></command>
    <inputs>
        <param type="data" name="input1" format="fasta" label="From fasta"/>
        <param type="integer" name="input2" value="2" label="preserve frequency of k-mers" />
    </inputs>
    <outputs>
        <data name="output1" format="fasta" />
    </outputs>
    <tests>
        <test>
            <param name="input1" value="seq1000.fasta"/>
            <param name="input2" value="2"/>
            <output name="output1" value="seq1000shuffled.fasta" />
        </test>
    </tests>
    <help><![CDATA[

        
 CALL  
   sh shuffle_sequences.sh input.fasta k output.fasta

 INPUT
   input.fasta   - input fasta file 
   k             - 'preserve frequency of k letters (dinucleotide k=2)'

 OUTPUT
   output.fasta   - shuffle fasta file 

 DESCRIPTION
   Wrapper for ushuffle program Created by M Jiang. Reference PMID: 18405375.
   The ushuffle shuffles nucleotides in fasta sequence preserving frequency
   of k-mers, a positional order is changed. By default  k=2.
   A sequence in fasta file is shuffled only once. The output fasta
   in the identifier line contains the original sequence; a shuffled sequence
   is output on the second line.

 REQUIREMENT
   ushuffle installed
   conda install -c bioconda ushuffle


    ]]></help>
    <citations>
        <citation type="bibtex">
@misc{githubdnpatterntools,
  author = {LastTODO, FirstTODO},
  year = {TODO},
  title = {dnpatterntools},
  publisher = {GitHub},
  journal = {GitHub repository},
  url = {https://github.com/erinijapranckeviciene/dnpatterntools},
}</citation>
    </citations>
</tool>
